<h1>Zoonoms</h1>
<p>
  <%= link_to 'Nommed?', new_user_nom_path(current_user) %>
</p>
<h2>Recent Noms</h2>
<ul>
  <% current_user.noms.each do |nom| %>
    <li>
      <%= nom.animal.name %> @
      <%= nom.location %> |
      <%= nom.comment %>
    </li>
  <% end %>
</ul>
